@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
  }
 
  nav {
    display: flex;
    height: 100px;
  }
  
  img {
    width: 100%;
    max-height: 50vh;
  }
   
  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 32px;  
  }

a {
  text-decoration: none;
  cursor: pointer;
}

  button {
    cursor: pointer;
    border: none;
    transition: all 300ms smooth;
  }
    
  /* NAVIGATION */
.logo {
    width: 200px;
  }
  
 .nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .nav__links {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .nav__link {
    text-decoration: none;
    font-size: 20px;
    color: #686767;
    font-weight: bold;
  }
  
.nav__link--home {
    color: #fd8787;
}

  .nav__link--primary {
    border-radius: 999px;
    background-color: #fd3d3d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.15em;
    padding: 12px 40px;
    transition: all 300ms ease;
  }
  
.nav__link--primary:hover {
  background-color: #fd8787;
  color: black;
}

  .link__hover-effect {
    position: relative;
  }

  .link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
  }

  .link__hover-effect--red::after {
    background-color: #fd3d3d;
}

.link__hover-effect--black::after {
  background-color: #242424;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.btn__menu {
 display: none;
 font-size: 24px;
 transition: all 300ms ease;
 color: #fd3d3d;
}

.btn__menu:hover {
 color: #242424
}

.btn__menu:active{
 animation: spinner 300ms ease;
}

.btn__menu--close {
 position: fixed;
 top: 36px;
 right: 48px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 4;
  visibility: hidden;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fd8787;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 60px;
  padding: 16px 0;
  border-bottom: 2px solid transparent;
}

.menu--open .modal {
  visibility: visible;
  opacity: .95;
  transform: translateX(0);
}

/* LANDING */
#landing {
    background-color: rgba(250, 250, 250, 0.185);
    min-height: 100vh;
  }
  
  header {
    height: calc(100vh - 100px);
  }
  
  input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    color: #606266;
    height: 70px;
    padding: 0px 15px 0px 25px;
    width: calc(100% - 20%);
    max-width: 600px;
    font-size: 24px;
  }

input::placeholder {
  font-size: 24px;    
}

  .header__container {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all smooth;
    padding: 0 16px;
  }
  
  .header__img--wrapper {
    padding: 60px 12px 12px;
  }
    
    .text__red {
      color: #fd3d3d;
    }

  .title {
    text-align: center;
    margin: 24px 0;
    color: #fd8787;
    animation: fade-in-up 1s ease-in;
  }

.sub-title {
  text-align: center;
  margin: 32px 0;
  animation: fade-in-up 1.5s ease-in;
}

.search__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: fade-in 2s ease-in;
}

.btn {
  color: white;
  background-color: #fd3d3d;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  height: 70px;
  width: 20%;
  padding: 1px 6px;
  margin: 0px 0px 0px 20px;
  transition: all 200ms ease;
}

.btn:hover {
  background-color: #6473fdfb;
}

.btn:active {
  transform: scale(95%);
  background-color: #000;
}

.btn__loading {
  background-color: #606266;
}

.btn__loading:hover {
  background-color: #242424;
}

.fa-magnifying-glass {
  font-size: 40px;
  font-weight: bold;
}

.fa-spinner {
  font-size: 40px;
  font-weight: bold;
animation: spinner 900ms infinite linear;
}

  @keyframes spinner {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in-up {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    50% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {     
      opacity: 0;
    }
    50% {
      opacity: 0;      
    }
    100% {
      opacity: 1;
    }
  }

/* MOVIES PAGE */
/* NAVBAR */
#navbar {
  height: 326px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/now\ showing.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.nav__wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav__content {
  width: 100%;
    max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  z-index: 1;
}

.nav__link--movies {
  color: #fff;
}

.link__hover-effect--white::after {
  background-color: #fff;
}


.title__browse {
  margin: 0 0 30px;
  font-size: 44px;
  font-weight: 400;
  color: #fff;
}

.input__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  max-width: 600px;
  position: relative;
}

.input__wrapper input {
border: none;
border-radius: 50px;
color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    padding-left: 20px;
}

.search__wrapper{
  position: absolute;
  cursor: pointer;
  top: 10px;
  bottom: 0;
  right: 16px;
  color: #fd3d3d;
  transition: all 300ms ease;
}

.search__wrapper:hover {
  color: #6473fdfb;
}

/* SEARCH */
h3 {
  letter-spacing: 0.1em;
  font-size: 24px;
  margin: 0 0 12px;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
}

#filter {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 20px;
}

.progress-bar {
  height: 10px;
  width: 100%;
  background-color: #6473fdfb;
  position: absolute;
  top: 0;
  left: 0;
  animation: progress 100ms ease;
}

.progress__bar::after {
  left: 0;
  width: 100%;
  background-color: red;
  animation: progress 1000ms ease;
}

.movie__filter {
  width: 30%;
  min-width: 335px;
  display: flex;
  flex-direction: column;
}

.dual-slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  
  display: flex;
  align-items: center;
}

.dual-slider input[type="range"] {
  padding: 0;
  pointer-events: none;
  appearance: none;
  background: none;
  border: none;
  width: 100%;
}

.dual-slider input[type="range"]:focus {
  outline: none;
}

.dual-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px #fd3d3d solid;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dual-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px #fd3d3d solid;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dual-slider input[type="range"]:first-child::-webkit-slider-runnable-track {
  background-color: #fd8787;
}

.dual-slider input[type="range"]:first-child::-moz-range-track {
  background-color: #fd8787;
}

.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: 16px 0;
  top: -18px;
  bottom: 0;
  border-radius: 5px;
  background-color: #fd8787;
}

.slider-track:after {
  background-color: #606266;
}

#slider-1 {
  position: absolute;
}

#slider-2 {
  position: absolute;
}



.loading__state {
  display: none;
  width: 100%;
  margin: 80px 0;
  justify-content: center;
  color: #fd3d3d;
}

@keyframes progress {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(.5,0,.7,.5);
  }
  60% {
    transform: translateX(84%);
    animation-timing-function: cubic-bezier(.3,.38,.55,.96);
  }
  100% {
    transform: translateX(201%);
  }
}

#movies {
  padding: 40px 0 0;
}

  /* LAPTOPS & TABLETS */
  @media (max-width: 768px) {
    .nav__links {
      display: none;
    }
    .btn__menu {
      display: block;
    }
  }

  /* SMARTPHONES */
  @media (max-width: 590px) {
    .title {
      max-width: 520px;
    }
    .sub-title {
      max-width: 520px;
    }
    .search__container {
      display: flex;
      flex-direction: column;
    }
    input {
      width: 100%;
    }
    .btn {
      width: 100%;
      margin: 16px 0 0 0;
    }
    .header__img--wrapper {
      display: none;
    }
    input::placeholder {
      font-size: 20px;    
    }
  }